.bundle
.env

config/*.env
config/mailer.yml
config/secrets/*
compose/*
!compose/.gitkeep

config/gateway/*
!config/gateway/.gitkeep

!config/secrets/.gitkeep

config/nginx/*
!config/nginx/.gitkeep
config/traefik/*
!config/traefik/.gitkeep
config/applogic/*
!config/applogic/.gitkeep
config/barong/*
!config/barong/.gitkeep
config/peatio/*
config/peatio/seed/*
!config/peatio/seed/.gitkeep
config/quantex/*
!config/quantex/.gitkeep
config/vault/*
!config/vault/.gitkeep
config/kafka-connect/*
!config/kafka-connect/.gitkeep

vendor/*
!vendor/.gitkeep

data/applogic/*
!data/applogic/.gitkeep
data/assets-currency/*
!data/assets-currency/.gitkeep
data/coverapp/*
!data/coverapp/.gitkeep
data/castle/*
!data/castle/.gitkeep
data/db
data/influxdb/*
!data/influxdb/.gitkeep
data/redis/*
!data/redis/.gitkeep
data/ssl/*
!data/ssl/.gitkeep
data/vault/*
!data/vault/.gitkeep
data/cryptonodes/parity/*
!data/cryptonodes/parity/.gitkeep
data/cryptonodes/bitcoin/*
!data/cryptonodes/bitcoin/.gitkeep
data/elasticsearch/*
!data/elasticsearch/.gitkeep
data/kafka/*
!data/kafka/.gitkeep
data/zookeeper/data/*
!data/zookeeper/data/.gitkeep
data/zookeeper/log/*
!data/zookeeper/log/.gitkeep

vendor/*
!vendor/.gitkeep

config/vault-secrets.yml
