.bundle

config/gateway/mapping.yaml
config/peatio/management_api_v1.yml
config/barong/management_api_v1.yml
config/toolbox.yaml
config/*.env
config/mailer.yml
config/secrets/*
compose/*
!compose/.gitkeep

config/gateway/*
!config/gateway/.gitkeep

!config/secrets/.gitkeep

config/traefik/*
!config/traefik/.gitkeep
config/barong/*
!config/barong/.gitkeep
config/peatio/*
config/peatio/seed/*
!config/peatio/seed/.gitkeep

config/postmaster/*
!config/postmaster/.gitkeep

vendor/*
!vendor/.gitkeep

data/applogic/*
!data/applogic/.gitkeep
data/assets-currency/*
!data/assets-currency/.gitkeep
data/coverapp/*
!data/coverapp/.gitkeep
data/castle/*
!data/castle/.gitkeep
data/db
data/influxdb/*
!data/influxdb/.gitkeep
data/redis/*
!data/redis/.gitkeep
data/vault/*
!data/vault/.gitkeep
data/ssl/*
!data/ssl/.gitkeep

vendor/*
!vendor/.gitkeep

config/vault-secrets.yml
