.bundle

config/gateway/mapping.yaml
config/peatio/management_api_v1.yml
config/barong/management_api_v1.yml
config/toolbox.yaml
config/*.env
config/secrets/*
compose/*
!compose/.gitkeep

config/gateway/*
!config/gateway/.gitkeep

!config/secrets/.gitkeep

config/traefik/*
!config/traefik/.gitkeep
config/barong/seed/*
!config/barong/seed/.gitkeep
config/peatio/seed/*
!config/peatio/seed/.gitkeep
config/postmaster/*
!config/postmaster/.gitkeep

vendor/*
!vendor/.gitkeep

.terraform/
*.tfvars
terraform.tfstate*

data/geth/*/geth
!data/geth/.gitkeep

data/db/*
!data/db/.gitkeep

data/rabbitmq/*
!data/rabbitmq/.gitkeep

data/redis/*
!data/redis/.gitkeep

data/vault/*
!data/vault/.gitkeep

data/frontend/*
!data/frontend/.gitkeep

data/influxdb/*
!data/influxdb/.gitkeep

vendor/*
!vendor/.gitkeep

.env
