<div class="container">
  <div class="header">
    <div class="header-logo">
      <%= image_tag @logo %>
    </div>
  </div>
  <div class="content">
    <h2 class="title">Register Verification Code</h2>
    <p>
      Welcome to ZSmart
      <br>
      Your register verification code is <span class="confirm_code"><%= @record.code %></span> It was generated at <%= Time.now.utc.to_s %> and will be valid for 30 minutes.
      <br>
      <br>
      <br>
      Security Tips:
      <br>
      * Never give your password to anyone.
      <br>
      * Never call any phone number for someone claiming to be ZSmart Support.
      <br>
      * Never send any money to anyone claiming to be a member of ZSmart team.
      <br>
      * Enable Google Two Factor Authentication.
      <br>
      * Bookmark www.zsmart.tech and use <a href="#">https://www.zsmart.tech/en/official-verification</a> to verify the domain you're visiting.
      <br>
      <br>

      If you don't recognize this activity,please contact our customer support immediately at: <a href="#">https://www.zsmart.tech/en/support</a>.
      <br>
      <br>
      <br>

      ZSmart Team
      <br>
      This is an automated message, please do not reply.
    </p>
  </div>
  <p class="footer">
    © 2021 Zsmart.tech All Rights Reserved.
  </p>
</div>
